
.theme-christmas {
    --color-bg-primary: #165B33;
    --color-bg-primary-light: #EA4630;
    --color-bg-accent: #EA4630; 
    --color-bg-accent-light: #EA4630; 
    --color-bg-secondary: #0b2b26;
    --color-text-link: #EA4630;    
    --color-bg-compliment: #1c1f1e;
    --color-bg-default: #1c1c1c;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #f2f2f2;
    --color-text-secondary: #f2f2f2;
    --color-text-default: #e9e9e9;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #1c1c1c;
    --color-text-inverse-soft: #1c1c1c;
    .tint:before {
        background: #0b132bff;
        opacity: 0.15;
      }
    .bulb-glow {
        @extend .bulb-special
    }

}

.theme-fallguys {
    --color-bg-primary: #ee4599;
    --color-bg-primary-light: #fa5bab;
    --color-bg-accent: #97cc3c; 
    --color-bg-accent-light: #ace34e; 
    --color-bg-secondary: #00449b;
    --color-text-link: #fcc700;
    --color-bg-compliment: #d3d3d340;
    --color-bg-default: #0090c9;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #f5f5f5;
    --color-text-secondary: #f5f5f5;
    --color-text-default: #f5f5f5;
    --color-text-default-soft: #484848;
    --color-text-inverse: #fcc700;
    --color-text-inverse-soft: #0090c9;
}


.theme-midnightgreen {
  --color-bg-primary: #004953;
  --color-bg-primary-light: #E7FDFF;
  --color-bg-accent: #DE7421; 
  --color-bg-accent-light: #DE7421; 
  --color-bg-secondary: #E7FDFF;
  --color-text-link: #008ca0;
  --color-bg-compliment: #f5f5ff;
  --color-bg-default: #f5f5f5;
  --color-bg-inverse: #d77d4d;
  --color-text-primary: #f5f5f5;
  --color-text-secondary: #004953;
  --color-text-default: #303030;
  --color-text-default-soft: #484848;
  --color-text-inverse: #008ca0;
  --color-text-inverse-soft: #ffffffb3;
}

.theme-spacegray {
    --color-bg-primary: #aeafaf;
    --color-bg-primary-light: #f1f1f1;
    --color-bg-accent: #fea5cb; 
    --color-bg-accent-light: #feb3d3; 
    --color-bg-secondary: #f1f1f1;
    --color-text-link: #3d49dc;
    --color-bg-compliment: #d3d3d340;
    --color-bg-default: #f5f5ff;
    --color-bg-inverse: #d77d4d;
    --color-text-primary: #0c0c0c;
    --color-text-secondary: #3d49dc;
    --color-text-default: #303030;
    --color-text-default-soft: #484848;
    --color-text-inverse: #3d49dc;
    --color-text-inverse-soft: #f5f5ff;
}

.theme-twitter {
    --color-bg-primary: #15202B;
    --color-bg-primary-light: #172D3F;
    --color-bg-accent: #1B91DA; 
    --color-bg-accent-light: #1B91DA; 
    --color-bg-secondary: #657786;
    --color-text-link: #1B91DA;    
    --color-bg-compliment: #112b48;
    --color-bg-default: #192734;
    --color-bg-inverse: #1B91DA;
    --color-text-primary: #fff;
    --color-text-secondary: #f2f2f2;
    --color-text-default: #e9e9e9;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #1B91DA;
    --color-text-inverse-soft: #1B91DA;
    .tint:before {
        background: #0b132bff;
        opacity: 0.15;
      }
    .bulb-glow {
        @extend .bulb-special
    }
  }

  .theme-reddead {
    --color-bg-primary: #b9181b;
    --color-bg-primary-light: #fbaf19;
    --color-bg-accent: #e9a700; 
    --color-bg-accent-light: #fbaf19; 
    --color-bg-secondary: #201310;
    --color-text-link: #fbaf19;    
    --color-bg-compliment: #5b0b0d;
    --color-bg-default: #010101;
    --color-bg-inverse: #fbaf19;
    --color-text-primary: #fff;
    --color-text-secondary: #f2f2f2;
    --color-text-default: #e9e9e9;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #5b0b0d;
    --color-text-inverse-soft: #010101;
    .tint:before {
        background: #0b132bff;
        opacity: 0.15;
      }
  }

  .theme-amongus {
    --color-bg-primary: #6a2fb8;
    --color-bg-primary-light: #38efdc;
    --color-bg-accent: #38efdc; 
    --color-bg-accent-light: #38efdc; 
    --color-bg-secondary: #010101;
    --color-text-link: #38efdc;    
    --color-bg-compliment: #c51111;
    --color-bg-default: #1e1f26;
    --color-bg-inverse: #38efdc;
    --color-text-primary: #fff;
    --color-text-secondary: #f2f2f2;
    --color-text-default: #e9e9e9;
    --color-text-default-soft: #6a6a6a;
    --color-text-inverse: #3b177c;
    --color-text-inverse-soft: #010101;
    .tint:before {
        background: #0b132bff;
        opacity: 0.15;
      }
  }